* { box-sizing: border-box; }

body { background-color: #EEFFDB; }

.app { max-width: 350px; margin: 0 auto; background-color: #B8D4E3; padding: 20px; box-shadow: 2px 2px 3px #8A8E91; }

.contactImage { margin-right: 20px; width: 50px; float: left; }

.contactForm { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; }

.contactForm input { margin-bottom: 10px; }

.contactsList { padding-left: 0; }

.contactItem { margin-bottom: 15px; border: 1px solid #855A5C; padding: 10px; background-color: #EEFFDB; }

.contactItem p { margin: 0; }

.header { text-align: center; background-color: #855A5C; margin-bottom: 30px; }

.title { margin: 0; padding: 60px; color: #EEFFDB; font-size: 3rem; text-shadow: 2px 2px 3px black; }
